.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');


.landing-page-container {
  position: relative;
}

.imageContent {
  width: 41%;
  height: 120%;
  z-index: 1;
  margin-left: 31.25rem;
  margin-top: 4.6875rem; 
  margin-bottom: 18.75rem; 
}

.content {
  width: 70%; 
  height: 50rem; 
  margin-top: 10%;
  margin-left: 7.7%; 
}

.title {
  font-family: Urbanist;
  font-size: 3.125rem; 
  font-style: normal;
  font-weight: 400;
  line-height: 6.25rem; 
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
  margin-left:-0.5rem
}

.innovationContent {
  font-family: Urbanist;
  font-size: 3.125rem; 
  font-style: italic;
  font-weight: 300;
  line-height: 0.625rem; 
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
  width: 68.75%; 
  height: 16.875%;
  top: 12.7rem; 
  left: 5.3125rem; 
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem; 
}

.paragraph-content {
  width: 23%; 
  height: 10%; 
  top: 18rem; 
  left: 6.25rem;
  font-family: urbanist; 
  font-size: 0.6rem; 
  font-weight: 350;
  line-height: 1.25rem; 
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  position: absolute;
}




.backgroundImage {
  position: absolute;
  top:8.5%; 
  left: 0.8rem; 
  width: 75%;
  height: 60%;
  background-image: url('/src/assets/Rectangle 2.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem;
  z-index: 0;
}


.additionalBackground {
  position: absolute;
  top: 64%;
  width: 100%;
  height: 87%;
  background: linear-gradient(180deg, #232C33 18.78%, rgba(29, 33, 35, 0.83) 39.81%, #191a1a 98.16%);
  background-color:#232C33 ;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}


.landingpage-side-content {
  width: 10%;
  height: 3%;
  margin-top: 4%;
  margin-left: 3.5%;
  font-family: Urbanist;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 61, 117, 1);
}





#customNavbar {
  width: 155%; 
  height: 7.3rem; 
  background: #ffffff;
  position: relative;
  margin-left: -2%; 
  margin-top: -2%;
  z-index: 1;
}


#customRectangle {
  width: 60.3%; 
  height: 5rem; 
  top: 45px;
  margin-left: 3%;
  border-radius: 10px;
  background: #FBFBFB;
  box-shadow: 0px 0px 8px 0px #11010140;
  position: absolute;
  z-index: 2; 
}

#customLogo {
  width: 13%; 
  height: 5.64%; 
  margin-left: 0.5%;
  margin-top:-0.1rem
}

#customNavLinks a {
  color: #333333;
  text-decoration: none;
  font-size: 0.875rem; 
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: left;
  margin: 0.10rem 0 0.25rem 0.85rem; 
  text-transform: none;
}

#customSignInButton {
  width: 8.5%; 
  height: 2.9rem; 
  margin-top:-5.4%;
  margin-left: 76.7%;
  padding: 1px 2px 2px 2px;
  border-radius: 5px;
  border: 2px solid #107FAB;
  color: #090a0a;
  position: absolute;
  text-transform: none;
  letter-spacing: 0cm;
}

#customBookDemoButton {
  width: 12%; 
  height: 2.9rem; 
  margin-top:-5.4%;
  font-size: 0.875rem; 
  font-weight: 600;
  line-height: 1.25rem; 
  right: 1.0417%;
  /* padding: 0.75rem 2.8125rem 1.1875rem 2.8125rem; */
  border-radius: 5px;
  background: #107FAB;
  color: #FFFFFF;
  position: absolute;
  text-transform: none;
  margin-right:0.6rem
}

#customBook {
  width: 35%;
  height: 2.3rem;
  margin-top: 6.25%;
  left: 0.1042%;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.8rem;
  border-radius: 3px;
  background: #107FAB;
  color: #FFFFFF;
  position: absolute;
  text-transform: none;
}

#talkToExpert {
  width: 30%;
  height: 2rem;
  margin-top: 8.8%;
  margin-left: 36%;
  font-family: Urbanist; 
  font-size: 0.79rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: right;
  position: absolute;
  color: rgba(16, 127, 171, 1);
}
/* #talkToExpert::after {
  content: '→'; /* Arrow symbol */
  /* margin-left: -20%; /* Adjust as needed for spacing */
 /* font-size:1.3rem; */ 

/* } */ 


.trust-heading {
  width: 50%;
  height: 8rem;
  margin-top: 7%;
  margin-left: -40rem;
  font-family: Urbanist;
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
  line-height: 3.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(251, 251, 251, 1);
}

.trust-paragraph {
  width: 30rem;
  height: 6%;
  margin-bottom: 2%;
  margin-left: -40rem;
  font-family: Urbanist, sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.3rem;
  letter-spacing: 0em;
  text-align: center;
  color: #edf0f2;
}
.trust-paragraphs {
  width: 30rem;
  height: 6%;
  margin-bottom: 1%;
  margin-left: -45rem;
  font-family: Urbanist, sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 0.3rem;
  letter-spacing: 0em;
  text-align: center;
  color: #edf0f2;
  margin-top:-1.8rem
}

.side-content {
  width: 28%;
  height: 2rem;
  margin-top: -1.8%;
  margin-left: -56rem;
  font-family: Urbanist, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: end;
  color: #1688d4;
  font-size: italic;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.grid-item {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 1);
  overflow: hidden; 
}

#image1 {
  background-image: url('../src/assets/Frame\ 10.png');
  background-size: cover;
  background-position: center;
  width: 35rem;
  height: 30rem;
  margin-bottom: 4rem;
  margin-left:-7rem
}

#image2 {
  background-image: url('../src/assets/Frame\ 11.png');
  background-size: cover;
  background-position: center;
  width: 38rem;
  height: 14.4rem;
  margin-bottom: 20rem;
  margin-left: -5rem;
}

#image3 {
  background-image: url('../src/assets/Frame\ 12.png');
  background-size: cover;
  background-position: center;
  width: 38rem;
  height: 14.7rem;
  margin-left: -39rem;
  margin-top: 58%;
  margin-bottom: 120px;
}



.landing-page-2-container {
  width: 100%; 
  height: 130rem; 
  margin-top: 24.7%;
  left: -2%;
  background: rgba(255, 255, 255, 1);
}






.landing-page-heading {
  width: 50%; /* Adjust as needed */
  height: 4rem; /* Adjust as needed using rem units */
  margin-top: -2.3%; /* Adjust as needed */
  margin-left: 3.5%; /* Adjust as needed */
  font-family: Urbanist; 
  font-size: 2rem; 
  font-weight: 500;
  line-height: 3rem; 
  letter-spacing: 0em;
  text-align: left;
  color: linear-gradient(0deg, #333333, #333333),
              linear-gradient(0deg, #FF3D75, #FF3D75);
}

.heading-landingpage {
  font-family: Urbanist; 
  font-size: 2rem; 
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  color: #FF3D75;
  margin-left: -47.5%; 
  margin-top: -3.4%; 
}



.frame {
  width: 30%;
  height: 8%;
  border-radius: 1rem;
  
}

.side-heading {
  width: 35%;
  height: 3%;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  margin-top: 2rem;
  margin-left: 1rem;
}

.point {
  width: 55%;
  height: 23%;
  font-family: Urbanist;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  margin-left: 4%;
}

#point1 {
  margin-top: 1rem;
}

#point2 {
  margin-top: -0.5rem;
}

#frame1 {
  margin-top: 3rem;
  margin-left: 3%;
  background: rgba(244, 246, 250, 1);
}

#frame2 {
  margin-top: -10rem;
  margin-left: 34%;
  background: rgba(16, 127, 171, 1);
}

#frame3 {
  margin-top: 2rem;
  margin-left: 3%;
  background: rgba(244, 246, 250, 1);
}

#frame4 {
  margin-top: -10rem;
  margin-left: 34%;
  background: rgba(244, 246, 250, 1);
}

.additional-layout {
  width: 60%;
  height: 38%;
  margin-top: 4%;
  margin-left: 4rem;
  border-radius: 1rem;
  background: linear-gradient(0deg, #232E33 0%, rgba(35, 44, 51, 0.99) 33.33%, rgba(35, 44, 51, 0.87) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.frame-image-container {
  width: 7rem;
  height: 7rem;
  margin-top: -16%;
  margin-left: auto;
  margin-right: 2rem;
  border-radius: 50%; 
  overflow: hidden; 
  background-color: #ffffff; 
}

.frame-image img {
  width: 63%; 
  height: 70%; 
  object-fit: cover;
 
  margin-left:1.3rem;
  margin-top:1.2rem
}


.solutions-heading {
  width: 5%;
  height: 2%;
  margin-top: -39%;
  margin-left: 30%;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(182, 153, 247, 1);
   
  padding: 1rem;
}

.solutions-description {
  width: 29%;
  height: 2.3%;
  margin-bottom:-1%;
  margin-left: 18%;
  font-family: Urbanist;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  
 
  margin-top: 1%; 
}



.text-container {
  width: 39%;
  margin-top: 5%;
  margin-left: 15rem;
 
  position: relative;
}

.text {
  font-family: Urbanist;
  font-size: 0.755rem;
  font-weight: 300;
  line-height: 1.3rem;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 20px; 
  color: rgba(251, 251, 251, 1);
  display: inline-block;
  margin-left:3rem
}

.horizontal-line {
  width: 100%;
  
  background: rgba(169, 169, 169, 1);
  position: absolute;
  bottom: 0;
  margin-left:1rem
}



.image-layout {
  width: 26%;
  height: 14.3%;
  margin-top: 6.5rem;
  margin-left: 623px;
  padding: 18px 70px 0px 18px;
  border-radius: 1rem;
  background: rgba(62, 70, 76, 1);
}

.image-layout img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
}
.custom-text-content {
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:-16rem
}

.custom-side-heading {
  width: 10%;
  height: 2%;
  font-family: Urbanist;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 1);

}

.custom-paragraph {
  width: 13.5%;
  height: 1%;
  font-family: Urbanist;
  font-size: 0.7rem;
  font-weight: 200;
  line-height: 1.3rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
}
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.landing-page-container3 {
  width: 66%;
  height: 53rem;
  margin-top: -27%;
  margin-left: 1%;
  background-color: #232E33; 
 

}
.content-simple{
  width: 3%;
  height: 2rem;
  margin-top: 4%;
  margin-left: 4%;
  font-family: Urbanist;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(16, 127, 171, 1);
}

.content-verification-made {
  width: 50%;
  height: 4rem;
  margin-top: -1%;
  margin-left: 4%;
  font-family: Urbanist;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(251, 251, 251, 1);
}
.user-verification {
  margin-top: 2%;
  color: rgba(251, 251, 251, 1);
  margin-left: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-left:3.3rem
}

.user-verification-heading {
  margin-bottom: -3%;
}

.user-verification-row {
  display: flex;
  margin-bottom: 1%;
  margin-left:40%
}

.user-verification-point {
  display: flex;
  align-items: center;
  width: 30%;
  color: rgba(251, 251, 251, 1);
  font-family: Urbanist;
  font-size: 0.6rem;
  font-weight: 250;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: right;
  padding-left: 5px;
  margin-right: 20px; 
}

.user-verification-point img {
  width: 1rem;
  height: rem;
  margin-right: 2%;
}
.image-line {
  width: 86%; 
  height: auto; 
  display: block;
  margin-left:4%
  
}
.platform-best-global {
 
 
  width: 28%;
  color: rgba(251, 251, 251, 1);
  font-family: Urbanist;
  font-size: 0.6rem;
  font-weight: 250;
  line-height: 1rem;
  letter-spacing: 0em;
 
 margin-left:4.5%;
 
  margin-top:3%
}
.demo-book {
  width: 5.8%;
  height: 2.3rem;
  margin-top: 4%;
  margin-left: -17%;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.8rem;
  border-radius: 3px;
  background: #107FAB;
  color: #FFFFFF;
  position: absolute;
  text-transform: none;
}

.demo-book:hover {
  background: #0c5b7e;
}
.customise-background-layout {
  width: 70%;
  height: 73rem;
  margin-top: -2%;
  left: -2rem;
  background: rgba(255, 255, 255, 1);
}



.image-grid-frames {
  display: flex;
  flex-wrap: wrap;
 
   margin-left:6%
}

.image-container-allframes {
  width: 22%;
  height: 23%;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2px; 
}

.image-container-allframes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.supercharge-page-landingpage {
  width: 67%;
  height: 53.3rem;
  margin-top: -16.5%;
  margin-left:1%;
  background-color: #232E33;
}

.new-background-layout {
  width: 100%;
  height: 55%;
  margin-top: 35%; 
  margin-left: -0.2%;
  margin-right:1%;
  background: rgba(255, 255, 255, 1);
}
.footer-background-layout {
  width: 89%;
  height: 85%;
  margin-top: -28%;
  margin-left: 4%;
  background: linear-gradient(358.99deg, #052431 31.11%, rgba(11, 38, 49, 0.758819) 46.7%, rgba(5, 37, 49, 0.34) 99.07%);
  border-radius: 1rem; 
}
.content-industries{
  width: 5rem;
  height: 1rem;
  margin-top: 5.5%;
  margin-left: 4.5%;
  font-family: Urbanist;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(16, 127, 171, 1);
}

.customize-content-solution {
  width: 45%;
  height: 5rem;
  margin-top: -13px;
  margin-left: 4%;
  font-family: Urbanist;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(51, 51, 51, 1);


}
.demo-solution {
  width: 30%;
  height: 5%;
  margin-top: 1%;
  margin-left: 4.9%;
  font-family: Urbanist;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(255, 255, 255, 1);

}
.img-header-images {
  width: 100%;
  height: 90%;
  margin-top: -7%;
  margin-left: 28%;
  
}
.check-tick-image {
  width: 4%;
  height: 3.8%;
  margin-top: -17.9%;
  margin-left: 3%;
  
}
#footerbutton {
  width: 6%;
  height: 2.3rem;
  margin-top: -9%;
  margin-left:3%;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.8rem;
  border-radius: 0.2rem;
  background: #107FAB;
  color: #FFFFFF;
  position: absolute;
  text-transform: none;
}
.content-live{
  width: 7rem;
  height: 1rem;
  margin-top: -10.5%;
  margin-left: 6%;
  font-family: Urbanist;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(228, 228, 228, 1);

}
.content-workflow{
  width: 10rem;
  height: 1rem;
  margin-top: -4.9%;
  margin-left: 20%;
  font-family: Urbanist;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(228, 228, 228, 1);

}
.check-tick-images {
  width: 4%;
  height: 3.8%;
  margin-top: -6.5%;
  margin-left: 17%;
  
}
#footerLogo{
  width: 20%; 
  height: 19%; 
  margin-left: 0.5%;
  margin-top:5rem
}
.content-footer-friction {
  margin-top: 1%;
  color: rgba(51, 51, 51, 1);
  margin-left: 3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  margin-left:3.3rem;
  font-family:Urbanist;
}
.signup-content{
  margin-top: 6%;
  color: rgba(51, 51, 51, 1);
  margin-left: 3rem;
  font-size: 1rem;
  font-weight: 600; 
  line-height: 2rem;
  margin-left:3.3rem;
  font-family:Urbanist;
  margin-bottom :-0.5%;

}
.emailInput {
  width: 28%;
  height: 10%;
  margin-top: 1%;
  margin-left: 3%;
  padding: 2% 2.2% 1.3% 2%;
  border-radius: 0.3rem;
  border: 2px solid rgba(16, 127, 171, 1);
  color: rgba(16, 127, 171, 1);
  color: #ffffff;
  font-size: 1rem;
  
}


.emailInput::placeholder {
  color:rgba(169, 169, 169, 1);
  
  opacity: 0.7;
  font-size: 1rem; 
  margin-bottom:-2rem
}
.btn-btn {
  width: 5.8%;
  height: 2.3rem;
  margin-top:1.2rem;
  margin-left: -6%;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 0.8rem;
  border-radius: 3px;
  background: #107FAB;
  color: #FFFFFF;
  position: absolute;
  text-transform: none;
  border: #107FAB;
}

#submitText {
  width: 6rem;
  height: 1rem;

  font-family: Urbanist;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  padding-top:-4px;
}
.product-heading {
  width: 4rem;
  height: 2rem;
  margin-top: -20rem;
  margin-left: 40rem;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 600;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  display :flex;
   
}

.product-row {
  width: 10rem;
  height: 0.7rem;
  margin-top: 2rem;
  margin-left: 40.1rem;
  font-family: Urbanist;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.79rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  
  
}
.industries-heading {
  width: 4rem;
  height: 2rem;
  margin-top: -16.5rem;
  margin-left: 55rem;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 600;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  display :flex;
   
}

.industries-row {
  width: 10rem;
  height: 0.7rem;
  margin-top: 2rem;
  margin-left: 55rem;
  font-family: Urbanist;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.79rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  
  
}
.resources-heading {
  width: 4rem;
  height: 2rem;
  margin-top: -19rem;
  margin-left: 68rem;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 600;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  display :flex;
   
}

.resources-row {
  width: 10rem;
  height: 0.7rem;
  margin-top: 2rem;
  margin-left: 68rem;
  font-family: Urbanist;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.79rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  
  
}
.company-heading {
  width: 4rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: 68rem;
  font-family: Urbanist;
  font-size: 1rem;
  font-weight: 600;
  line-height: 4.1rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  display :flex;
   
}

.company-row {
  width: 10rem;
  height: 0.7rem;
  margin-top: 2rem;
  margin-left: 68rem;
  font-family: Urbanist;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.79rem;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 1);
  
  
}











